[alias]
	append = town append
	hack = town hack
	kill = town kill
	new-pull-request = town new-pull-request
	prepend = town prepend
	prune-branches = town prune-branches
	rename-branch = town rename-branch
	repo = town repo
	ship = town ship
	sync = town sync
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[git-town]
	new-branch-push-flag = true
[include]
	path = .gitconfig.user
	path = .gitconfig.local
[bulkworkspaces]
	dojo = /Users/jxb2016/git/aether-foundation/dojo/src
