# vim: ft=gitconfig
# vscode extensions needed:
# - 'Gitconfig Syntax'
# - 'Modelines'
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	commitGraph = true
[include]
	path = .gitconfig.user
	path = .gitconfig.local
[pull]
	ff = only
[gc]
	writeCommitGraph = true
[init]
	defaultBranch = main
